{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "root": true,
    "env": {
        "node": true,
        "browser": true,
        "commonjs": true,
        "jquery": true,
        "es6": true
    },
    "globals": {
        "tars": true,
        "google": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    }
}